.light-theme {
  background-color: hsl(0, 0%, 98%) !important;
  color: hsl(200, 15%, 8%) !important;
}

.dark-theme {
  background-color: hsl(209, 23%, 22%) !important;
  color: hsl(0, 0%, 100%) !important;
}

.theme-variant {
  background-color: hsl(207, 26%, 17%) !important;
  color: hsl(0, 0%, 100%) !important;
  .input::placeholder {
    color: hsl(0, 0%, 100%) !important;
  }
  
}

.form-select {
  height: 38px !important;
  --bs-form-select-bg-img: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
  background-color: transparent !important;
}

